.padding-global {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

@media screen and (max-width: 767px) {
  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 991px) {
  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.text-align-center {
  text-align: center;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.align-center {
  margin-right: auto;
  margin-left: auto;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

@media screen and (max-width: 991px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

.margin-bottom.margin-small {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.margin-small {
  margin: 1rem;
}

.heading-style-h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .heading-style-h2 {
    font-size: 2rem;
  }
}

.text-size-medium {
  font-size: 1.25rem;
}

.layout-cards_cards-wrapper {
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  .layout-cards_cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .layout-cards_cards-wrapper {
    grid-template-columns: 1fr;
  }
}